@media (max-width: 576px) {
   .container {
       width: 99vw;
   }

   
}




@media (max-width: 768px) {
    .container {
        width: 97vw;
    }
   .nav-bar{
       display: none;
   }
   #menuToggle {
       display: block;
      
   }
.social {
   display: none;
}

}
   


    @media  (max-width: 992px) {
.container {
    width: 95vw;
}

#menuToggle {
    display:none;
}
.header-img {
    margin-left: 0;
    width: 90%;
}

.reservations .container {
    display: flex;
   flex-flow: wrap; 
   }

.icon-facebook-white {
    margin-right: 0;
}

        h1 {
            font-size: 60px;
        }

        .video {
           margin:0;
        }

        .plate-img {
            display: none;
        }
        .ingredients .container {
            display: flex;
            flex-flow: wrap;
margin: 0 auto;
            }
    .video {
        margin: 0 auto;
    }
    }
    @media  (max-width: 1200px) {
        #menuToggle {
            display:none;
        }
        .nav-link {
            padding: 45px 5px 45px 6px;
        }

       
    }