@charset "utf-8";

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 1250px;
  margin: 0 auto;
  width: 78vw;

}

header {
  background: url(img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}


/* мобильное меню */
#main {
  padding: 20px;
  position: fixed;
  margin-top: 15px;
  display: none;
}

#main a {
  text-decoration: none;
  padding: 20px;
  font-size: 32px;
  flex-wrap: bold;

}

.burger-menu ul {
  margin: 0;
  list-style: none;
  display: none;
  margin-top: 100px;

}


/* меню закрыто */
.burger-menu ul {
  margin: 0;
  list-style: none;
  padding-right: 20px;
  display: none;

}

.burger-menu .title {
  font-size: 25px;
  cursor: pointer;
  color: #fefefe;
}

.burger-menu .title::before {
  content: '☰';
  color: #fefefe;
  font-size: 50px;
}

/* меню раскрыто */
.burger-menu.open .title::before {
  content: '🞬';
  color: #fefefe;


}

.burger-menu.open ul {
  display: flex;
  flex-direction: column;



}

.burger-menu li {
  background-color: orange;
  padding: 10px;
  border: #fefefe 1px solid;

}

/* меню */
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100px;
  background: url(img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}




.header-img {
  margin-left: 80px;
  padding: 5px;
  margin-right: 10px;
}

.header-img:hover {
  transform: scale(0.8);
}

.nav-bar {
  margin: 0 auto;
  padding-top: 50px;
}

.menu {
  background: url(img/menu-Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 100px 20px 100px 20px;
  width: 100%;
  height: 100%;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;


}

.appetisers,
.salads,
.starters,
.main-dishes {
  margin-left: 20px;

}

.menu-main {
  display: flex;
  list-style: none;
}

.nav-link {
  padding: 45px 10px 45px 10px;
  font-family: 'Gentium Book Basic', serif;
  font-weight: 700px;
  font-size: 21px;
  margin-bottom: 10px;

}

.nav-link:hover {
  border-top: #fefefe 2px solid;
  font-weight: bold;
  transform: scale(0.8);


}



a {
  text-decoration: none;
  /*убираем подчеркивание текста ссылок*/
  color: rgba(255, 255, 255, 0.922);
}

/* Шрифт */
h1 {
  font-size: 90px;
  font-family: "YesevaOne";
  color: rgba(255, 255, 255, 0.922);
  text-align: center;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
  font-weight: 800;
  padding: 126px 140px 38px 140px;
  margin-top: 100px;
}

h1:hover {
  color: rgb(204, 153, 0);
}



h2 {
  padding-top: 30px;
}

.orange h2 {
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;

}

.orange p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(76, 76, 76);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.white h2 {
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.white p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}

.about {
  background: url(img/bg-about.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  height: 100%;
  width: 100%;
}



.about-wrapper {
  display: flex;
  flex-flow: nowrap row;

}

.about-col {
  margin-top: 100px;
}

.cook-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.plate-img {
  transform: rotate(360deg);
  animation-name: plate-img;
  animation-duration: 77s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
  margin-top: 40px;
}

@keyframes plate-img {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.ingredients {
  background: url(img/bg-ingredients.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;


}

.ingredients .container {
  display: flex;
  flex-flow: nowrap row;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: -10px;
  justify-content: space-between;
}

.ingredients p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  align-content: space-between;
  margin-bottom: 53px;
}

.ingredients-wrapper {
  background-color: rgb(0, 0, 0);
  opacity: 0.671;
  margin: 100px 0px 101px 0px;
  padding: 50px 70px 72px 70px;
  position: relative;
  max-width: 50%;
}

.ingredient-image {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ingredient-image img {
  width: 20%;
  height: auto;
  max-height: 100%;
}



.iframe-container {
  margin-top: 120px;
  margin-right: 10px;
  width: 100%;
  display: block;
  height: 0;
  position: relative;
  padding-bottom: 25%;

}

.iframe-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.title-food {
  color: rgb(204, 153, 0);
  font-family: "YesevaOne";
  font-size: 21px;
  border-bottom: 0.5px solid rgb(204, 153, 0);
}

.price {
  color: rgb(204, 153, 0);
  font-family: "YesevaOne";
  font-size: 21px;
  border-bottom: 0.5px solid rgb(204, 153, 0);
}

.main-dishes {
  margin-top: -20px;
}

td {
  padding-top: 10px;
  font-family: "Lato";

}

.reviews {
  background: url(img/reviews-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 100px 0px 100px 0px;
  height: 100%;
  width: 100%;
}

.reviews p {
  font-size: 25px;
  font-family: "GentiumBookBasic";
  color: rgb(221, 224, 223);
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
}

.reviews p:last-child {
  padding-top: 33px;
}

.quote {
  padding-bottom: 13.5px;
  padding-right: 30px;
}

.reviews-wrapper {
  background-color: rgb(0, 0, 0);
  opacity: 0.671;
  padding: 78px 78px 98px 70px;

}

.reservations {
  background: url(img/background-reservations.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 110px 30px 103px 30px;
  height: 100%;

}

.reservations .container {
  display: flex;
  justify-content: space-between;
}


.reservations h2 {
  padding-top: 20px;
}

.reservations-images {
  margin: 0 auto;
}

.booking {
  width: 430px;

}

.reservations-wrapper {
  display: flex;
  flex-direction: row;

}



.reservations-wrapper h2 {
  padding-top: 0;

}

.booking {
  width: 430px;
  padding-left: 50px;
  margin: 0 auto 40px;

}

.wrapper-form {
  margin-top: 34, 49px;
  padding-left: 0;
  width: 100%;


}

.form-col {
  display: flex;
  flex-direction: row;

}

input {
  width: 200px;
  margin-right: 30px;
  margin-left: 0;
  margin-top: 9.5px;
  display: block;
  margin-bottom: 27px;
}

input::placeholder {
  width: 200px;

}

input::placeholder:hover {
  border-color: rgb(201, 161, 49);
}

label {
  padding-top: 3px;
  display: block;
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(201, 161, 49);
  font-weight: bold;
  line-height: 1.2;
}

.decoration {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

}



/* кнопки */
.btn-header {
  text-align: center;
  padding-bottom: 142px;
  margin-top: 100px;
}

.btn-white {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  width: 125px;
  height: 13px;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.278);
  opacity: 0.702;
  padding: 10px;
  margin-right: 30px;
}

.btn-white:hover {
  background-color: #282019;

}

.btn-reservations {
  border-width: 1px;
  border-color: rgb(200, 159, 45);
  border-style: solid;
  background-color: rgba(200, 159, 45, 0.98);
  color: white;
  width: 198px;
  height: 34px;
  margin-left: 114.88px;

}


/* иконки */
.social {
  display: flex;
  margin: 45px 40px 35px 30px;
  padding-right: 20px;

}

.social a {
  margin-right: 25px;
}



#name,
#date {
  margin-right: 30px;
}


footer {
  background-color: #191919;
  color: #fefefe;
  padding: 52px 0px 50px 0px;
  width: 100%;
  height: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer h3 {
  font-size: 21px;
  font-family: "YesevaOne";
  color: rgb(254, 254, 254);
  line-height: 1.143;
  text-align: center;
  margin: 0 auto;
}



.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 43px;

}

footer p {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}

footer .icon-white-line {
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 13.5px;
}



footer span {
  font-weight: bold;
}




.anchor {
  padding-top: 100px;
  margin-top: -100px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}


/* Media */




/* 
 Малые девайсы («ландшафтные телефоны», >= 576px) */

@media (max-width: 576px) {}

@media (max-width: 576px) {
  h1 {
    font-size: 25px;
  }

  header .decoration {
    display: none;
  }

  .btn-header {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}


/*  Средние девайсы («таблетки», >= 768px) */
@media (max-width: 768px) {

  h1 {
    font-size: 40px;
    margin-top: 50px;
  }

  .btn-header {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .about .cook-img img {
    height: 150px;
  }

  .plate-img {
    display: none;
  }

  .reservations-images {
    display: none;
  }

}

@media (max-width: 826px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;

  }

  .time-work {
    margin-top: 20px;

  }

  .our-location {
    margin-top: 20px;
  }

}

/*  Большие девайсы (десктопы, >= 992px) */
@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }

  .ingredients .container {
    display: flex;
    flex-direction: column-reverse;

  }

  .iframe-container {
    padding-bottom: 50%;

  }

  .ingredients-wrapper {
    margin: 0 auto;
  }

}

@media (max-width: 1065px) {
  .nav-bar {
    display: none;
  }

  #main {
    display: block;
    margin-left: 15px;
    margin-right: 10px;
  }

  h1 {
    font-size: 70px;
  }

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (max-width: 1194px) {
  .about-col {
    position: relative;
    z-index: 2;
  }

  .plate-img {
    position: absolute;
    z-index: 1;
    margin-top: 150px;

  }

  .plate-img img {
    height: 400px;
  }

  .cook-img {
    text-align: end;
  }

}

@media (max-width: 1300px) {
  .reservations .container {
    flex-wrap: wrap-reverse;
  }


}