html,
body {

  scroll-behavior: smooth;

}

.container {
  max-width: 1250px;
  margin: 0 auto;


}

header {
  background: url(img/bg-header.png) no-repeat;
  background-size: cover;
width: 100%;
}


/* меню */
.navbar {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100px;
  background: url(img/bg-header.png) no-repeat;
  background-size: cover;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  margin-left: 173px;
  padding: 5px;
}

.navbar-logo:hover {
  transform: scale(0.8);
}

.top-menu {
  margin-left: 217px;
}

.menu {
  background: url(img/menu-Background.png);
  background-size: cover;
  padding: 100px 110px 100px 110px;
  width: 100%;

}

.menu-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 288px;
  padding-right: 281px;

}

.appetisers,
.salads,
.starters,
.main-dishes {
  margin-left: 20px;

}

.menu-main {
  display: flex;
  list-style: none;
}

.menu-main li {
  padding: 45px 23px 45px 23px;
  font-family: 'Gentium Book Basic', serif;
  font-weight: 700px;
  font-size: 21px;
  margin-bottom: 10px;
}

.menu-main li:hover {
  border-top: #fefefe 2px solid;
  font-weight: bold;
  transform: scale(0.8);


}

a {
  text-decoration: none;
  /*убираем подчеркивание текста ссылок*/
  color: rgba(255, 255, 255, 0.922);
}

/* Шрифт */
h1 {
  font-size: 90px;
  font-family: "YesevaOne";
  color: rgba(255, 255, 255, 0.922);
  text-align: center;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
  font-weight: 800;
  padding: 120px 140px 38px 140px;
}

h2 {
  padding-top: 30px;
}

.orange h2 {
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;

}

.orange p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(76, 76, 76);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.white h2 {
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.white p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}

.about {
  background: url(img/bg-about.png) no-repeat;
  background-size: cover;
  padding: 100px 92px 0px 110px;
  text-align: center;
  width: 100%;
}



.about-wrapper {
  display: flex;
}

.about-col {
  padding-top: 100px;
}

.plate-img {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -moz-animation-name: plate-img;
  -moz-animation-duration: 77s;
  -webkit-animation-name: plate-img;
  -webkit-animation-duration: 77s;

  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;

  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes plate-img {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes earth {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.ingredients {
  background: url(img/bg-ingredients.png) no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: -10px;
  
}

.ingredients .container {
display: flex;
flex-direction: row;
}

.ingredients p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  align-content: space-between;
 
}

.ingredients-wrapper {
  background-color: rgb(0, 0, 0);
  opacity: 0.671;
  margin: 100px 40px 101px 0px;
  padding: 50px 70px 72px 70px;
position: relative;

}

.ingredient-image {

  margin: 53px 0 0 0;
}

.ingredient-image img {
  margin-right: 29px;
  
}

.video {
  margin-top: 150px;
  margin-right: 20px;
}
.popup-text-ingredients {
 position: absolute;
top:336px;
display: none;
margin-left:100px;



}

.title-food {
  color: rgb(204, 153, 0);
  font-family: "YesevaOne";
  font-size: 21px;
  border-bottom: 0.5px solid rgb(204, 153, 0);
}

.price {
  color: rgb(204, 153, 0);
  font-family: "YesevaOne";
  font-size: 21px;
  border-bottom: 0.5px solid rgb(204, 153, 0);
}

.main-dishes {
  margin-top: -20px;
}

td {
  padding-top: 10px;
  font-family: "Lato";

}

.reviews {
  background: url(img/reviews-bg.png) no-repeat;
  padding: 100px 240px 100px 240px;

}

.reviews p {
  font-size: 25px;
  font-family: "GentiumBookBasic";
  color: rgb(221, 224, 223);
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
}
.reviews p:last-child{
padding-top:33px; 
}

.quote {
  padding-bottom: 13.5px;
  padding-right: 30px;
}

.reviews-wrapper {
  background-color: rgb(0, 0, 0);
  padding: 74.89px 70px 96.96px 35px;
  opacity: 0.671;
}

.reservations {
  background: url(img/background-reservations.png) no-repeat;
  background-size: cover;
  padding: 95px 110px 103px 39px;

}

.reservations-wrapper {
  display: flex;
  flex-direction: row;
}

.reservations-wrapper h2 {
  padding-top:0;
}


.wrapper-form {
  padding-top:44px;
  padding-left: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
 
}

input {
  width: 200px;
  margin-right: 30px;
  margin-left:0;
  margin-top:9.5px;
 
}

input::placeholder {
  width: 200px;
  margin-left: 0;
  
}
label {

padding-top: 3px;
}
.decoration {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

}



/* кнопки */
.btn-header {
  text-align: center;
  padding-bottom:142px;
}

.btn-white {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  width: 125px;
  height: 13px;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.278);
  opacity: 0.702;
  padding: 10px;
  margin-right: 30px;
}

.btn-white:hover {
  background-color: #282019;

}

.btn-reservations {
  border-width: 1px;
  border-color: rgb(200, 159, 45);
  border-style: solid;
  background-color: rgba(200, 159, 45, 0.98);
  color: white;
}

/* иконки */
.social {
  display: flex;
  margin: 45px 40px 35px 30px;
}

.social a {
  margin-right: 25px;
}

.booking {
  margin-left: 100px;
}

#name,
#date {
  margin-right: 30px;
}


footer {
  background-color: #191919;
  color: #fefefe;

}



/* .about,
.menu,
.ingredients,
.reviews,
.reservations {
padding-top: 100px;
margin-top: -100px;
-webkit-background-clip: content-box;
background-clip: content-box;
} */